<h1>Portfolio</h1>
 
<%# <a href="portfolios/new">Create New Portfolio Item</a> %>

<%= link_to "Create New Portfolio Item", new_portfolio_path%>
<br>

<% @portfolio_items.each do |portfolio_item| %>
    <p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></p>
    <p><%= portfolio_item.subtitle %></p>
    <p><%= portfolio_item.body %></p>
    
    <%= image_tag portfolio_item.thumb_image ? portfolio_item.thumb_image : "https://www.placeholder.com/100x100" %>    
    <%= button_to "Destroy this blog", portfolio_item, :method => :delete  %>

<% end %>